<div class="contenedor">
  <ul>
    @for (elemento of NoSeleccionados; track $index) {
      <li (click)="seleccionar(elemento, $index)">{{elemento.valor}}</li>
    }
  </ul>
  <div class="div-botones">
<button mat-flat-button type="button" (click)="seleccionarTodo()">Agregar Todos</button>
<button mat-flat-button class="warn" type="button" (click)="deseleccionarTodo()">Quitar Todos</button>
  </div>
  <ul>
    @for (elemento of Seleccionados; track $index) {
      <li (click)="deseleccionar(elemento, $index)">{{elemento.valor}}</li>
    }
  </ul>
</div>
